object cdsContas_Receber: TClientDataSet
  Aggregates = <>
  AggregatesActive = True
  Params = <
    item
      DataType = ftString
      Name = 'EMPRESA_CLIENTES'
      ParamType = ptInput
    end
    item
      DataType = ftString
      Name = 'FILIAL_CLIENTES'
      ParamType = ptInput
    end
    item
      DataType = ftString
      Name = 'EMPRESA_CATEGORIAS'
      ParamType = ptInput
    end
    item
      DataType = ftString
      Name = 'FILIAL_CATEGORIAS'
      ParamType = ptInput
    end
    item
      DataType = ftString
      Name = 'EMPRESA_CC'
      ParamType = ptInput
    end
    item
      DataType = ftString
      Name = 'FILIAL_CC'
      ParamType = ptInput
    end
    item
      DataType = ftString
      Name = 'EMPRESA'
      ParamType = ptInput
    end
    item
      DataType = ftString
      Name = 'FILIAL'
      ParamType = ptInput
    end>
  ProviderName = 'dspContas_Receber'
  RemoteServer = dspcContas_Receber
  BeforeOpen = cdsContas_ReceberBeforeOpen
  BeforeInsert = cdsContas_ReceberBeforeInsert
  BeforeEdit = cdsContas_ReceberBeforeEdit
  BeforePost = cdsContas_ReceberBeforePost
  BeforeDelete = cdsContas_ReceberBeforeDelete
  AfterScroll = cdsContas_ReceberAfterScroll
  OnCalcFields = cdsContas_ReceberCalcFields
  OnDeleteError = cdsContas_ReceberDeleteError
  OnEditError = cdsContas_ReceberEditError
  OnNewRecord = cdsContas_ReceberNewRecord
  OnPostError = cdsContas_ReceberPostError
  OnReconcileError = cdsContas_ReceberReconcileError
  Left = 1072
  Top = 294
  object cdsContas_ReceberEMPRESA: TStringField
    DisplayLabel = 'Empresa'
    FieldName = 'EMPRESA'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    Size = 2
  end
  object cdsContas_ReceberFILIAL: TStringField
    DisplayLabel = 'Filial'
    FieldName = 'FILIAL'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    FixedChar = True
    Size = 2
  end
  object cdsContas_ReceberEMISSAO: TDateField
    DisplayLabel = 'Emiss'#227'o'
    FieldName = 'EMISSAO'
    ProviderFlags = [pfInUpdate]
    Required = True
    EditMask = '!99/99/0000;1;_'
  end
  object cdsContas_ReceberSITUACAO: TStringField
    DisplayLabel = 'Situa'#231#227'o'
    FieldName = 'SITUACAO'
    ProviderFlags = [pfInUpdate]
    Required = True
    Size = 1
  end
  object cdsContas_ReceberPREFIXO: TStringField
    DisplayLabel = 'Prefixo'
    FieldName = 'PREFIXO'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    OnChange = cdsContas_ReceberPREFIXOChange
    Size = 3
  end
  object cdsContas_ReceberNUMERO: TIntegerField
    DisplayLabel = 'T'#237'tulo'
    FieldName = 'NUMERO'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
  end
  object cdsContas_ReceberPARCELA: TIntegerField
    DisplayLabel = 'Parcela'
    FieldName = 'PARCELA'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
  end
  object cdsContas_ReceberTIPO: TStringField
    DisplayLabel = 'Tipo'
    FieldName = 'TIPO'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    OnChange = cdsContas_ReceberTIPOChange
    Size = 3
  end
  object cdsContas_ReceberCLIENTE: TIntegerField
    DisplayLabel = 'Cliente'
    FieldName = 'CLIENTE'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    OnValidate = cdsContas_ReceberCLIENTEValidate
  end
  object cdsContas_ReceberNOMECLIENTE: TStringField
    DisplayLabel = 'Nome do Cliente'
    FieldName = 'NOMECLIENTE'
    ProviderFlags = []
    Size = 90
  end
  object cdsContas_ReceberBANCO: TIntegerField
    DisplayLabel = 'Banco'
    FieldName = 'BANCO'
    ProviderFlags = [pfInUpdate]
    OnValidate = cdsContas_ReceberBANCOValidate
  end
  object cdsContas_ReceberAGENCIA: TStringField
    DisplayLabel = 'Ag'#234'ncia'
    FieldName = 'AGENCIA'
    ProviderFlags = [pfInUpdate]
    OnValidate = cdsContas_ReceberBANCOValidate
    Size = 5
  end
  object cdsContas_ReceberCONTA: TStringField
    DisplayLabel = 'Conta'
    FieldName = 'CONTA'
    ProviderFlags = [pfInUpdate]
    OnValidate = cdsContas_ReceberBANCOValidate
    Size = 10
  end
  object cdsContas_ReceberNOMEBANCO: TStringField
    DisplayLabel = 'Nome do Banco'
    FieldKind = fkInternalCalc
    FieldName = 'NOMEBANCO'
    Size = 30
  end
  object cdsContas_ReceberCATEGORIA: TStringField
    DisplayLabel = 'Categoria'
    FieldName = 'CATEGORIA'
    ProviderFlags = [pfInUpdate]
    Required = True
    OnValidate = cdsContas_ReceberCATEGORIAValidate
    Size = 15
  end
  object cdsContas_ReceberDESCRICAOCATEGORIA: TStringField
    DisplayLabel = 'Nome Categoria'
    FieldName = 'DESCRICAOCATEGORIA'
    ProviderFlags = []
    Size = 25
  end
  object cdsContas_ReceberVENCIMENTO: TDateField
    DisplayLabel = 'Vencimento'
    FieldName = 'VENCIMENTO'
    ProviderFlags = [pfInUpdate]
    Required = True
    OnValidate = cdsContas_ReceberVENCIMENTOValidate
    EditMask = '!99/99/0000;1;_'
  end
  object cdsContas_ReceberVENCIMENTOREAL: TDateField
    DisplayLabel = 'Vencimento Real'
    FieldName = 'VENCIMENTOREAL'
    ProviderFlags = [pfInUpdate]
    Required = True
    EditMask = '!99/99/0000;1;_'
  end
  object cdsContas_ReceberVALOR: TFloatField
    DisplayLabel = 'Valor'
    FieldName = 'VALOR'
    ProviderFlags = [pfInUpdate]
    Required = True
    OnChange = cdsContas_ReceberVALORChange
    OnValidate = cdsContas_ReceberVALORValidate
    currency = True
  end
  object cdsContas_ReceberJUROS: TFloatField
    DisplayLabel = 'Juros'
    FieldName = 'JUROS'
    ProviderFlags = [pfInUpdate]
    DisplayFormat = '#0.0000%'
    EditFormat = '0.0000'
  end
  object cdsContas_ReceberTAXAPERMANENCIA: TFloatField
    DisplayLabel = 'Taxa Perman'#234'ncia'
    FieldName = 'TAXAPERMANENCIA'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberVENDEDOR: TIntegerField
    DisplayLabel = 'Vendedor'
    FieldName = 'VENDEDOR'
    ProviderFlags = [pfInUpdate]
    OnValidate = cdsContas_ReceberVENDEDORValidate
  end
  object cdsContas_ReceberNOMEVENDEDOR: TStringField
    DisplayLabel = 'Nome do Vendedor'
    FieldKind = fkInternalCalc
    FieldName = 'NOMEVENDEDOR'
    Size = 30
  end
  object cdsContas_ReceberBASECOMISSAO: TFloatField
    DisplayLabel = 'Base Comiss'#227'o'
    FieldName = 'BASECOMISSAO'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberVALORCOMISSAO: TFloatField
    DisplayLabel = 'Valor Comiss'#227'o'
    FieldName = 'VALORCOMISSAO'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberMOEDA: TStringField
    DisplayLabel = 'Moeda'
    FieldName = 'MOEDA'
    ProviderFlags = [pfInUpdate]
    OnValidate = cdsContas_ReceberMOEDAValidate
    Size = 10
  end
  object cdsContas_ReceberDESCRICAOMOEDA: TStringField
    DisplayLabel = 'Descri'#231#227'o da Moeda'
    FieldKind = fkInternalCalc
    FieldName = 'DESCRICAOMOEDA'
    Size = 30
  end
  object cdsContas_ReceberTAXAMOEDA: TFloatField
    DisplayLabel = 'Taxa Moeda'
    FieldName = 'TAXAMOEDA'
    ProviderFlags = [pfInUpdate]
    DisplayFormat = '#0.00000000'
    EditFormat = '0.00000000'
  end
  object cdsContas_ReceberFLUXO: TStringField
    DisplayLabel = 'Fluxo'
    FieldName = 'FLUXO'
    ProviderFlags = [pfInUpdate]
    Size = 1
  end
  object cdsContas_ReceberACRESCIMO: TFloatField
    DisplayLabel = 'Acr'#233'scimo'
    FieldName = 'ACRESCIMO'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberDECRESCIMO: TFloatField
    DisplayLabel = 'Decr'#233'scimo'
    FieldName = 'DECRESCIMO'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberDESCONTO: TFloatField
    DisplayLabel = 'Desconto'
    FieldName = 'DESCONTO'
    ProviderFlags = [pfInUpdate]
    DisplayFormat = '#0.0000%'
    EditFormat = '0.0000'
  end
  object cdsContas_ReceberDIASDESCONTO: TIntegerField
    DisplayLabel = 'Dias Desconto'
    FieldName = 'DIASDESCONTO'
    ProviderFlags = [pfInUpdate]
  end
  object cdsContas_ReceberTIPODESCONTO: TStringField
    DisplayLabel = 'Tipo Desconto'
    FieldName = 'TIPODESCONTO'
    ProviderFlags = [pfInUpdate]
    FixedChar = True
    Size = 1
  end
  object cdsContas_ReceberABATIMENTO: TFloatField
    DisplayLabel = 'Abatimento'
    FieldName = 'ABATIMENTO'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberADIANTAMENTO: TFloatField
    DisplayLabel = 'Adiantamento'
    FieldName = 'ADIANTAMENTO'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberSALDO: TFloatField
    DisplayLabel = 'Saldo'
    FieldName = 'SALDO'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberFORMAPAGAMENTO: TStringField
    DisplayLabel = 'Forma Pagamento'
    FieldName = 'FORMAPAGAMENTO'
    ProviderFlags = [pfInUpdate]
    OnChange = cdsContas_ReceberFORMAPAGAMENTOChange
    Size = 2
  end
  object cdsContas_ReceberHISTORICO: TStringField
    DisplayLabel = 'Hist'#243'rico'
    FieldName = 'HISTORICO'
    ProviderFlags = [pfInUpdate]
    Required = True
    Size = 40
  end
  object cdsContas_ReceberEMPRESAORIGEM: TStringField
    DisplayLabel = 'Empresa Origem'
    FieldName = 'EMPRESAORIGEM'
    ProviderFlags = [pfInUpdate]
    Size = 2
  end
  object cdsContas_ReceberFILIALORIGEM: TStringField
    DisplayLabel = 'Filial Origem'
    FieldName = 'FILIALORIGEM'
    ProviderFlags = [pfInUpdate]
    FixedChar = True
    Size = 2
  end
  object cdsContas_ReceberORIGEM: TStringField
    DisplayLabel = 'Origem'
    FieldName = 'ORIGEM'
    ProviderFlags = [pfInUpdate]
    Required = True
    Size = 3
  end
  object cdsContas_ReceberFATURA: TIntegerField
    DisplayLabel = 'Fatura'
    FieldName = 'FATURA'
    ProviderFlags = [pfInUpdate]
  end
  object cdsContas_ReceberPEDIDO: TIntegerField
    DisplayLabel = 'Pedido'
    FieldName = 'PEDIDO'
    ProviderFlags = [pfInUpdate]
  end
  object cdsContas_ReceberSELECIONADO: TStringField
    DisplayLabel = 'Selecionado'
    FieldName = 'SELECIONADO'
    ProviderFlags = [pfInUpdate]
    Size = 1
  end
  object cdsContas_ReceberBORDERO: TIntegerField
    DisplayLabel = 'Border'#244
    FieldName = 'BORDERO'
    ProviderFlags = [pfInUpdate]
  end
  object cdsContas_ReceberNOSSONUMERO: TStringField
    DisplayLabel = 'Nosso N'#250'mero'
    FieldName = 'NOSSONUMERO'
    ProviderFlags = [pfInUpdate]
  end
  object cdsContas_ReceberTIPOCOBRANCA: TStringField
    DisplayLabel = 'Tipo de Cobran'#231'a'
    FieldName = 'TIPOCOBRANCA'
    ProviderFlags = [pfInUpdate]
    Size = 2
  end
  object cdsContas_ReceberCARTEIRA: TStringField
    DisplayLabel = 'Carteira'
    FieldName = 'CARTEIRA'
    ProviderFlags = [pfInUpdate]
    Size = 2
  end
  object cdsContas_ReceberIDCNAB: TIntegerField
    DisplayLabel = 'Id CNAB'
    FieldName = 'IDCNAB'
    ProviderFlags = [pfInUpdate]
  end
  object cdsContas_ReceberPRIMEIRABAIXA: TDateField
    DisplayLabel = 'Primeira Baixa'
    FieldName = 'PRIMEIRABAIXA'
    ProviderFlags = [pfInUpdate]
    EditMask = '!99/99/0000;1;_'
  end
  object cdsContas_ReceberULTIMABAIXA: TDateField
    DisplayLabel = #218'ltima Baixa'
    FieldName = 'ULTIMABAIXA'
    ProviderFlags = [pfInUpdate]
    EditMask = '!99/99/0000;1;_'
  end
  object cdsContas_ReceberOBSERVACAO: TStringField
    DisplayLabel = 'Observa'#231#227'o'
    FieldName = 'OBSERVACAO'
    ProviderFlags = [pfInUpdate]
    Size = 124
  end
  object cdsContas_ReceberCC: TStringField
    DisplayLabel = 'Centro de Custo'
    FieldName = 'CC'
    ProviderFlags = [pfInUpdate]
    OnValidate = cdsContas_ReceberCCValidate
    Size = 10
  end
  object cdsContas_ReceberLOTE: TIntegerField
    DisplayLabel = 'Lote'
    FieldName = 'LOTE'
    ProviderFlags = [pfInUpdate]
  end
  object cdsContas_ReceberBASE10925: TFloatField
    DisplayLabel = 'Base 10925'
    FieldName = 'BASE10925'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberVALORPIS: TFloatField
    DisplayLabel = 'Valor do PIS'
    FieldName = 'VALORPIS'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberVALORCOFINS: TFloatField
    DisplayLabel = 'Valor do COFINS'
    FieldName = 'VALORCOFINS'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberVALORCSLL: TFloatField
    DisplayLabel = 'Valor do CSLL'
    FieldName = 'VALORCSLL'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberVALORFGTS: TFloatField
    DisplayLabel = 'Valor do FGTS'
    FieldName = 'VALORFGTS'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberVALORINSS: TFloatField
    DisplayLabel = 'Valor do INSS'
    FieldName = 'VALORINSS'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberVALORIRRF: TFloatField
    DisplayLabel = 'Valor do IRRF'
    FieldName = 'VALORIRRF'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberVALORISS: TFloatField
    DisplayLabel = 'Valor do ISS'
    FieldName = 'VALORISS'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberVALORORIGINAL: TFloatField
    DisplayLabel = 'Valor Original'
    FieldName = 'VALORORIGINAL'
    ProviderFlags = [pfInUpdate]
    currency = True
  end
  object cdsContas_ReceberVALORCORRIGIDO: TCurrencyField
    DisplayLabel = 'Valor Corrigido'
    FieldKind = fkCalculated
    FieldName = 'VALORCORRIGIDO'
    Calculated = True
  end
  object cdsContas_ReceberUSADOPCC: TStringField
    DisplayLabel = 'Usado PCC'
    FieldName = 'USADOPCC'
    ProviderFlags = [pfInUpdate]
    Size = 1
  end
  object cdsContas_ReceberDIGITACAO: TDateField
    DisplayLabel = 'Digita'#231#227'o'
    FieldName = 'DIGITACAO'
    ProviderFlags = [pfInUpdate]
    EditMask = '!99/99/0000;1;_'
  end
  object cdsContas_ReceberDESCRICAOCC: TStringField
    DisplayLabel = 'Descri'#231#227'o CC'
    FieldName = 'DESCRICAOCC'
    ProviderFlags = []
    Size = 25
  end
  object cdsContas_ReceberVALORDESCONTO: TCurrencyField
    DisplayLabel = 'Valor Desconto'
    FieldKind = fkCalculated
    FieldName = 'VALORDESCONTO'
    Calculated = True
  end
  object cdsContas_ReceberVALORTAXAPERMANENCIA: TCurrencyField
    DisplayLabel = 'Valor Taxa Perman'#234'ncia'
    FieldKind = fkCalculated
    FieldName = 'VALORTAXAPERMANENCIA'
    Calculated = True
  end
  object cdsContas_ReceberVALORJUROS: TCurrencyField
    DisplayLabel = 'Valor Juros'
    FieldKind = fkCalculated
    FieldName = 'VALORJUROS'
    OnValidate = cdsContas_ReceberVALORJUROSValidate
    Calculated = True
  end
  object cdsContas_ReceberVALORMULTA: TCurrencyField
    DisplayLabel = 'Valor Multa'
    FieldKind = fkCalculated
    FieldName = 'VALORMULTA'
    OnValidate = cdsContas_ReceberVALORMULTAValidate
    Calculated = True
  end
  object cdsContas_ReceberBOLETOIMPRESSO: TStringField
    DisplayLabel = 'Boleto Impresso?'
    FieldName = 'BOLETOIMPRESSO'
    ProviderFlags = [pfInUpdate]
    Size = 1
  end
  object cdsContas_ReceberENVIOBOLETO: TDateField
    DisplayLabel = 'Data Envio Boleto'
    FieldName = 'ENVIOBOLETO'
    ProviderFlags = [pfInUpdate]
  end
  object cdsContas_ReceberBOLETOENVIADO: TStringField
    DisplayLabel = 'Boleto Enviado?'
    FieldName = 'BOLETOENVIADO'
    ProviderFlags = [pfInUpdate]
    Size = 1
  end
  object cdsContas_ReceberINCLUIDO: TStringField
    DisplayLabel = 'Inclu'#237'do'
    FieldName = 'INCLUIDO'
    ProviderFlags = [pfInUpdate]
    Size = 29
  end
  object cdsContas_ReceberALTERADO: TStringField
    DisplayLabel = 'Alterado'
    FieldName = 'ALTERADO'
    ProviderFlags = [pfInUpdate]
    Size = 29
  end
  object cdsContas_ReceberDATACRIACAO: TSQLTimeStampField
    DisplayLabel = 'Data Cria'#231#227'o'
    FieldName = 'DATACRIACAO'
    ProviderFlags = [pfInUpdate]
    Required = True
    EditMask = '!99/99/0000;1;_'
  end
  object cdsContas_RecebersqlContas_Receber_Rateios: TDataSetField
    FieldName = 'sqlContas_Receber_Rateios'
  end
  object cdsContas_RecebersqlContas_Receber_Cobrancas: TDataSetField
    FieldName = 'sqlContas_Receber_Cobrancas'
  end
  object cdsContas_ReceberTOTALCR: TAggregateField
    DisplayLabel = 'Total CR'
    FieldName = 'TOTALCR'
    Active = True
    currency = True
    Expression = 'SUM(VALOR)'
  end
  object cdsContas_ReceberTOTALCRVENCER: TAggregateField
    FieldName = 'TOTALCRVENCER'
    Active = True
    currency = True
    Expression = 'SUM(SALDO)'
  end
end
object cdsContas_Receber_Rateios: TClientDataSet
  Aggregates = <>
  DataSetField = cdsContas_RecebersqlContas_Receber_Rateios
  Params = <>
  BeforePost = cdsContas_Receber_RateiosBeforePost
  BeforeDelete = cdsContas_Receber_RateiosBeforeDelete
  OnDeleteError = cdsContas_Receber_RateiosDeleteError
  OnEditError = cdsContas_Receber_RateiosEditError
  OnNewRecord = cdsContas_Receber_RateiosNewRecord
  OnPostError = cdsContas_Receber_RateiosPostError
  OnReconcileError = cdsContas_Receber_RateiosReconcileError
  Left = 1108
  Top = 292
  object cdsContas_Receber_RateiosEMPRESA: TStringField
    DisplayLabel = 'Empresa'
    FieldName = 'EMPRESA'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    Size = 2
  end
  object cdsContas_Receber_RateiosFILIAL: TStringField
    DisplayLabel = 'Filial'
    FieldName = 'FILIAL'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    FixedChar = True
    Size = 2
  end
  object cdsContas_Receber_RateiosPREFIXO: TStringField
    DisplayLabel = 'Prefixo'
    FieldName = 'PREFIXO'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    FixedChar = True
    Size = 3
  end
  object cdsContas_Receber_RateiosNUMERO: TIntegerField
    DisplayLabel = 'T'#237'tulo'
    FieldName = 'NUMERO'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
  end
  object cdsContas_Receber_RateiosPARCELA: TIntegerField
    DisplayLabel = 'Parcela'
    FieldName = 'PARCELA'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
  end
  object cdsContas_Receber_RateiosTIPO: TStringField
    DisplayLabel = 'Tipo'
    FieldName = 'TIPO'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    Size = 3
  end
  object cdsContas_Receber_RateiosCLIENTE: TIntegerField
    DisplayLabel = 'Cliente'
    FieldName = 'CLIENTE'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
  end
  object cdsContas_Receber_RateiosCC: TStringField
    DisplayLabel = 'Centro Custo'
    FieldName = 'CC'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    OnValidate = cdsContas_Receber_RateiosCCValidate
    Size = 10
  end
  object cdsContas_Receber_RateiosCATEGORIA: TStringField
    DisplayLabel = 'Categoria'
    FieldName = 'CATEGORIA'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    OnValidate = cdsContas_Receber_RateiosCATEGORIAValidate
    Size = 15
  end
  object cdsContas_Receber_RateiosDESCRICAOCATEGORIA: TStringField
    DisplayLabel = 'Descr. Categoria'
    FieldName = 'DESCRICAOCATEGORIA'
    ProviderFlags = []
    Size = 25
  end
  object cdsContas_Receber_RateiosVALOR: TFloatField
    DisplayLabel = 'Valor'
    FieldName = 'VALOR'
    ProviderFlags = [pfInUpdate]
    Required = True
    OnValidate = cdsContas_Receber_RateiosVALORValidate
    currency = True
  end
  object cdsContas_Receber_RateiosPERCENTUAL: TFloatField
    DisplayLabel = 'Percentual'
    FieldName = 'PERCENTUAL'
    ProviderFlags = [pfInUpdate]
    Required = True
    OnValidate = cdsContas_Receber_RateiosPERCENTUALValidate
    DisplayFormat = '#0.0000%'
    EditFormat = '0.0000'
  end
  object cdsContas_Receber_RateiosINCLUIDO: TStringField
    DisplayLabel = 'Inclu'#237'do'
    FieldName = 'INCLUIDO'
    ProviderFlags = [pfInUpdate]
    Size = 29
  end
  object cdsContas_Receber_RateiosALTERADO: TStringField
    DisplayLabel = 'Alterado'
    FieldName = 'ALTERADO'
    ProviderFlags = [pfInUpdate]
    Size = 29
  end
  object cdsContas_Receber_RateiosDATACRIACAO: TSQLTimeStampField
    DisplayLabel = 'Data da Cria'#231#227'o'
    FieldName = 'DATACRIACAO'
    ProviderFlags = [pfInUpdate]
    Required = True
  end
end
object cdsContas_Receber_Cobrancas: TClientDataSet
  Aggregates = <>
  DataSetField = cdsContas_RecebersqlContas_Receber_Cobrancas
  Params = <>
  BeforeInsert = cdsContas_Receber_CobrancasBeforeInsert
  BeforePost = cdsContas_Receber_CobrancasBeforePost
  BeforeDelete = cdsContas_Receber_CobrancasBeforeDelete
  OnDeleteError = cdsContas_Receber_CobrancasDeleteError
  OnEditError = cdsContas_Receber_CobrancasEditError
  OnNewRecord = cdsContas_Receber_CobrancasNewRecord
  OnPostError = cdsContas_Receber_CobrancasPostError
  OnReconcileError = cdsContas_Receber_RateiosReconcileError
  Left = 1148
  Top = 292
  object cdsContas_Receber_CobrancasEMPRESA: TStringField
    DisplayLabel = 'Empresa'
    FieldName = 'EMPRESA'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    Size = 2
  end
  object cdsContas_Receber_CobrancasFILIAL: TStringField
    DisplayLabel = 'Filial'
    FieldName = 'FILIAL'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    FixedChar = True
    Size = 2
  end
  object cdsContas_Receber_CobrancasPREFIXO: TStringField
    DisplayLabel = 'Prefixo'
    FieldName = 'PREFIXO'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    FixedChar = True
    Size = 3
  end
  object cdsContas_Receber_CobrancasNUMERO: TIntegerField
    DisplayLabel = 'T'#237'tulo'
    FieldName = 'NUMERO'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
  end
  object cdsContas_Receber_CobrancasPARCELA: TIntegerField
    DisplayLabel = 'Parcela'
    FieldName = 'PARCELA'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
  end
  object cdsContas_Receber_CobrancasTIPO: TStringField
    DisplayLabel = 'Tipo'
    FieldName = 'TIPO'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    Size = 3
  end
  object cdsContas_Receber_CobrancasCLIENTE: TIntegerField
    DisplayLabel = 'Cliente'
    FieldName = 'CLIENTE'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
  end
  object cdsContas_Receber_CobrancasSEQUENCIA: TIntegerField
    DisplayLabel = 'Sequ'#234'ncia'
    FieldName = 'SEQUENCIA'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    DisplayFormat = '0000'
  end
  object cdsContas_Receber_CobrancasDATA: TDateField
    DisplayLabel = 'Data'
    FieldName = 'DATA'
    ProviderFlags = [pfInUpdate, pfInWhere, pfInKey]
    Required = True
    EditMask = '!99/99/0000;1;_'
  end
  object cdsContas_Receber_CobrancasMOTIVO: TStringField
    DisplayLabel = 'Motivo'
    FieldName = 'MOTIVO'
    ProviderFlags = [pfInUpdate]
    Required = True
    Size = 512
  end
  object cdsContas_Receber_CobrancasPROVIDENCIA: TStringField
    DisplayLabel = 'Provid'#234'ncia'
    FieldName = 'PROVIDENCIA'
    ProviderFlags = [pfInUpdate]
    Required = True
    Size = 512
  end
  object cdsContas_Receber_CobrancasTIPOCOBRANCA: TStringField
    DisplayLabel = 'Tipo de Cobran'#231'a'
    FieldName = 'TIPOCOBRANCA'
    ProviderFlags = [pfInUpdate]
    Size = 2
  end
  object cdsContas_Receber_CobrancasDATACOBRANCA: TDateField
    DisplayLabel = 'Data p/ Cobran'#231'a'
    FieldName = 'DATACOBRANCA'
    ProviderFlags = [pfInUpdate]
  end
  object cdsContas_Receber_CobrancasSITUACAOCOBRANCA: TStringField
    DisplayLabel = 'Situa'#231#227'o de Cobran'#231'a'
    FieldName = 'SITUACAOCOBRANCA'
    ProviderFlags = [pfInUpdate]
    Size = 1
  end
  object cdsContas_Receber_CobrancasINCLUIDO: TStringField
    DisplayLabel = 'Inclu'#237'do'
    FieldName = 'INCLUIDO'
    ProviderFlags = [pfInUpdate]
    Size = 29
  end
  object cdsContas_Receber_CobrancasALTERADO: TStringField
    DisplayLabel = 'Alterado'
    FieldName = 'ALTERADO'
    ProviderFlags = [pfInUpdate]
    Size = 29
  end
  object cdsContas_Receber_CobrancasDATACRIACAO: TSQLTimeStampField
    DisplayLabel = 'Data da Cria'#231#227'o'
    FieldName = 'DATACRIACAO'
    ProviderFlags = [pfInUpdate]
    Required = True
    EditMask = '!99/99/0000;1;_'
  end
end
