CREATE TABLE NOTAS_SAIDAS_DADOS (
    EMPRESA                      VARCHAR(2) DEFAULT '99' NOT NULL,
    FILIAL                       VARCHAR(2) DEFAULT '99' NOT NULL,
    NUMERO                       INTEGER DEFAULT 0 NOT NULL,
    PREFIXO                      VARCHAR(3) DEFAULT '' NOT NULL,    
    EMISSAO                      DATE NOT NULL,
    CLIENTE                      INTEGER DEFAULT 0 NOT NULL,
	NOMECLIENTE		    		 VARCHAR(60) DEFAULT '',
    UF                           VARCHAR(2) DEFAULT '' NOT NULL,
    FORMAPAGAMENTO               VARCHAR(2),
    MARCA                        VARCHAR(20),
    VALORMERCADORIAS             DOUBLE PRECISION DEFAULT 0,
    DESCONTO                     DOUBLE PRECISION DEFAULT 0,
    VALORDESCONTO                DOUBLE PRECISION DEFAULT 0,
    VALORDESCONTOALTERNATIVO     DOUBLE PRECISION DEFAULT 0,
    VALORFRETE                   DOUBLE PRECISION DEFAULT 0,
    VALORSEGURO                  DOUBLE PRECISION DEFAULT 0,
    VALORDESPESAS                DOUBLE PRECISION DEFAULT 0,
    VALORFINANCEIRO              DOUBLE PRECISION DEFAULT 0,
    VALORBRUTO                   DOUBLE PRECISION DEFAULT 0,
    VALORLIQUIDO                 DOUBLE PRECISION DEFAULT 0,
    VALORALTERNATIVO             DOUBLE PRECISION DEFAULT 0,
    VALORMOEDA                   DOUBLE PRECISION DEFAULT 0,
    DATACRIACAO                  TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL,
    VALORTRIBUTOS                DOUBLE PRECISION DEFAULT 0,
    HORA                         VARCHAR(6) NOT NULL,
    BASECOMISSAO                 DOUBLE PRECISION DEFAULT 0,
    VALORCOMISSAO                DOUBLE PRECISION DEFAULT 0,
    COMISSAO                     DOUBLE PRECISION DEFAULT 0
  );


ALTER TABLE NOTAS_SAIDAS_DADOS ADD CONSTRAINT NOTAS_SAIDAS_DADOS_PK PRIMARY KEY (EMPRESA, FILIAL, PREFIXO, NUMERO, CLIENTE);

---------------------------

CREATE TABLE NOTAS_SAIDAS_ITENS (
    EMPRESA                      VARCHAR(2) DEFAULT '99' NOT NULL,
    FILIAL                       VARCHAR(2) DEFAULT '99' NOT NULL,
    NUMERO                       INTEGER DEFAULT 0 NOT NULL,
    PREFIXO                      VARCHAR(3) DEFAULT '' NOT NULL,
    FORNECEDOR                   INTEGER DEFAULT 0 NOT NULL,
    ITEM                         INTEGER DEFAULT 0 NOT NULL,
    PRODUTO                      VARCHAR(60) DEFAULT '' NOT NULL,
    DESCRICAO                    VARCHAR(150) DEFAULT '' NOT NULL,
    QUANTIDADE                   DOUBLE PRECISION DEFAULT 0 NOT NULL,
    UNITARIO                     DOUBLE PRECISION DEFAULT 0 NOT NULL,
    UNITARIOMOEDA                DOUBLE PRECISION DEFAULT 0,
    UNITARIOALTERNATIVO          DOUBLE PRECISION DEFAULT 0,
    UNITARIOORIGINAL             DOUBLE PRECISION DEFAULT 0,
    TOTAL                        DOUBLE PRECISION DEFAULT 0,
    CUSTOMEDIO                   DOUBLE PRECISION DEFAULT 0,
    CUSTOTOTAL                   DOUBLE PRECISION DEFAULT 0,
    TOTALMOEDA                   DOUBLE PRECISION DEFAULT 0,
    DESCONTO                     DOUBLE PRECISION DEFAULT 0,
    VALORDESCONTO                DOUBLE PRECISION DEFAULT 0,
    VALORDESCONTOALTERNATIVO     DOUBLE PRECISION DEFAULT 0,
    VALORDESPESAS                DOUBLE PRECISION DEFAULT 0,
    VALORFRETE                   DOUBLE PRECISION DEFAULT 0,
    VALORSEGURO                  DOUBLE PRECISION DEFAULT 0,
    VALORFINANCEIRO              DOUBLE PRECISION DEFAULT 0,
    VALORBRUTO                   DOUBLE PRECISION DEFAULT 0,
    VALORLIQUIDO                 DOUBLE PRECISION DEFAULT 0,
    VALORALTERNATIVO             DOUBLE PRECISION DEFAULT 0,
    PRECOLISTA                   DOUBLE PRECISION DEFAULT 0,
    FABRICANTE                   VARCHAR(30),
    DATACRIACAO                  TIMESTAMP DEFAULT 'now' NOT NULL,
        SALDODEVOLVER                DOUBLE PRECISION DEFAULT 0
    
);


ALTER TABLE NOTAS_SAIDAS_ITENS ADD CONSTRAINT NOTAS_ENTRADAS_ITENS_PK PRIMARY KEY (EMPRESA, FILIAL, PREFIXO, NUMERO, FORNECEDOR, ITEM);